.card__images {
  &.-x1 {
    background-position-x: -83px;
  }
  &.-x2 {
    background-position-x: -162px;
  }
  &.-x3 {
    background-position-x: -240px;
  }
  &.-x4 {
    background-position-x: -321px;
  }

  &.-y1 {
    background-position-y: -90px;
  }
  &.-y2 {
    background-position-y: -180px;
  }
  &.-y3 {
    background-position-y: -270px;
  }
  &.-y4 {
    background-position-y: -363px;
  }
}
